{% extends "JrExempleAppBundle:Layout:layout.html.twig" %}
{% block title %}Edit{% endblock %}
{% block contentPrimary%}
<section class="latest section">
    <div class="section-inner">
    <h2 class="heading">Exemple Edit</h2>
        <div class="content">
            <form method="post" action="{{ path('exemple_update',{'id': exemple.id}) }}" {{ form_enctype(edit_form) }} class="form-edite-exemple">
                <table class="table table-border">
                    <div class="col-xs-offset-1">{{form_label(edit_form.name) }}</div>
                    <div class="col-xs-offset-1">{{form_widget(edit_form.name) }}</div>
                    <div class="col-xs-offset-1">{{form_label(edit_form.comments) }}</div>
                    <div class="col-xs-offset-1">{{form_widget(edit_form.comments) }}</div>
                    {{ form_rest(edit_form)}}
                    <button class="btn btn-cta-secondary pull-right" type="submit">Update</button>
                </table>
            </form>
            <hr>
            <div class="actions">
                <a href="{{ path('exemple') }}" class="btn">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
