{% extends "JrExempleAppBundle:Layout:layout.html.twig" %}
{% block title %}creation{% endblock %}
{% block contentPrimary%}
<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">Exemple creation</h2>
        <div class="content">
            <form method="post" action="{{ path('exemple_create') }}" {{ form_enctype(form) }} class="form-exemple">
                <table class="table table-border">
                    <div class="col-xs-offset-1">{{form_label(form.name) }}</div>
                    <div class="col-xs-offset-1">{{form_widget(form.name) }}</div>
                    <div class="col-xs-offset-1">{{form_label(form.comments) }}</div>
                    <div class="col-xs-offset-1">{{form_widget(form.comments) }}</div>
                    {{ form_rest(form)}}
                    <button class="btn btn-cta-secondary pull-right" type="submit">Create</button>
                </table>
            </form>
            <hr>
            <div class="actions">
                <a href="{{ path('exemple') }}" class="btn">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
